# Ignore data files and temporary results
data/
data.pickle

model.p

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Jupyter/IPython checkpoints if any
.ipynb_checkpoints/

# VSCode settings (if you're sharing your code)
.vscode/

# Virtual environments (if inside this folder)
venv/
env/